<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mac.training.collectioner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TWITTER -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="QxPmNjczBhOF4q7ujSpImwJaT" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c6ed5a8b0278fa2712abb5d809e905a893e2e24e" />

        <activity android:name=".activity.MainActivity">

             <!--<activity android:name=".JosTest">-->
            <!-- <activity android:name=".storage.Storage"> -->
            <!-- <activity android:name=".storage.Storage"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.collection.AddCollectionActivity" />
        <activity android:name=".activity.collection.ViewCollectionActivity" />
        <activity android:name=".activity.collection.EditCollectionActivity" />
        <activity android:name=".activity.item.ViewItemActivity" />
        <activity android:name=".activity.item.AddItemActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.login.GoogleSignInActivity" />
        <activity android:name=".activity.login.EmailPasswordActivity" />
        <activity android:name=".activity.BaseProgressActivity" />
        <activity android:name=".activity.login.FacebookSignInActivity" />
        <activity android:name=".activity.login.TwitterSignInActivity" />
        <activity
            android:name=".activity.item.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.item.ViewItemDetailActivity"></activity>
    </application>

</manifest>